.header {
  background-color: #ffffff;
}
button {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.29;
  color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}
.nav-list {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
button:hover {
  background-color: #404bbf;
}

.nav-link {
  color: #2e2f42;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:active {
  color: #404bbf;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
}
.mail-link:hover,
.tel-link:hover {
  color: #404bbf;
}
.services-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
}
.services-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.services-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
.team {
  background-color: #f4f4fd;
}
.our-team {
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
}
.our-team-member {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.team-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
.portfolio-section {
  background-color: #ffffff;
}
.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
}
.portfolio-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

.sronly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
a {
  color: currentColor;
}
.main-section {
  background-color: #2e2f42;
}
.main-title {
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07143;
}
address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
}
.nav-logo {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
}
.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}
